
/* The sidepanel menu */
.wrap_hotel_map > .hotelPanel {
  flex: 3 0 0%;
  background-color: #fff; /* Black*/
  overflow-x: block; /* Disable horizontal scroll */
  overflow-y: auto;
  padding: 70px 15px 0 30px; /* Place content 60px from the top */
  padding-bottom: 0; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  -ms-overflow-style: none;  /* hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* hide scrollbar Firefox */
}

.wrap_hotel_map > .mapid {
  flex: 2 0 0%;
}

.wrap_hotel_map > .hotelPanel::-webkit-scrollbar {
  display: none; /* hide scrollbar for Chrome, Safari and Opera */
}

.hotelPanel .fst-filter {
  margin: 0 0 15px;
}
.hotelPanel .fst-filter > .wrap {
  padding: 12px 20px 12px 12px;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
.hotelPanel .fst-filter .wrap:hover {
  background-color: #eee;
}
.hotelPanel .fst-filter h2 {
  margin: 0 0 .5em 0;
  font-size: 1.2em;
  font-weight: normal;
}
.hotelPanel .fst-filter h3 {
  margin: 0 0 .5em 0;
  font-size: 1.5em;
  font-weight: normal;
}
.hotelPanel .fst-filter .property_desc {
  font-size: 14px;
  color: #666;
  line-height: 120%;
}
.hotelPanel .fst-filter li {
  font-size: 16px;
  color: #666;
  list-style-type: disc;
  list-style-position: inside;
  padding: 4px 0 4px 1.4em;
  text-indent: -1.4em;
  line-height: 100%;
}
.hotelPanel .wrap p {
  font-size: 10px;
  color: #000;
  text-decoration: none;
  padding-left: 5px;
}
.hotelPanel .wrap .property_image {
  flex: 1 0 0%;
  text-align:right;/* and here*/
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.hotelPanel .wrap .property_image img {
  vertical-align:top;/* here */
  /* horizontal-align:center; */
  /* max-width: 100%; */
  /* max-height: 100%; */
  flex-shrink:0;
  min-width:100%;
  max-height:200px;
  object-fit: cover;
}
.hotelPanel .wrap .property_text {
  flex: 3 0 0%;
  /* and eventually */
  margin:0 20px;
}
.hotelPanel .wrapper{
  display: flex;
  margin: 1em 0;
  gap: 1.5em;
}
.hotelPanel .wrapper .property_elites, .hotelPanel .wrapper .property_perks {
  flex: 1 0 0%;
  /* margin: 1em; */
}

.hotelPanel .property_elites h4 , .property_perks h4 {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 600;
}
