/* The info_modal */
.overlay {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128,128,128,0.8); /* color */
  display: none; /* making it hidden by default */
  z-index: 1010; /* Stay on top */
}

.info_modal {
    height: 80vh;
    width: 80vw;
    /* position: fixed;  */
    /* opacity:0.9; */
    background-color: #fff;
    overflow-x: block; /* Disable horizontal scroll */
    overflow-y: auto;
    -ms-overflow-style: none;  /* hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* hide scrollbar Firefox */
    padding: 1rem 1rem 1rem 1rem;
    display:none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 1011; /* Stay on top */
}

.info_modal::-webkit-scrollbar {
  display: none; /* hide scrollbar for Chrome, Safari and Opera */
}

.close_button {
  /* display:none; */
  position: fixed;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.close_button:hover {
  color: #aaa;
}

.info_modal h1 {
    margin-top: 2.5rem;
}

.info_modal h1, .info_modal p, .info_modal table {
    padding: 0rem 1.5rem;
}

@media (max-width: 500px ) {
    .info_modal {
        width: 100vw;
        /* font-size: 12px; */
    }
}


table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  table-layout: fixed;
}

table thead tr th h2 {
  margin: 0em;
}

th, td {
  font-family: inherit;
  font-size: .875em;
  line-height: 1.2;
  color: #101C4D;
  vertical-align: middle;
  padding: .5em;
}

th {
  font-weight: 600;
}

/* Tablehead */

thead th {
  background: #101C4D;
  /* background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%);
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 100%); */
  text-align: center; position: relative;
  border-bottom: 1px solid #ccc;
  /* padding: 2em 0 1em; */
  font-weight: bold;
  padding: 20px 0 20px 0;
  color: #fff;
}

/* Tablebody */

tbody th {
  background: #eee;
  border: 1px solid #ccc;
  text-align: center;
}

tbody td {
  background: #fff;
  border: 1px solid #ccc;
}

tbody li {
  /* list-style: none; */
  list-style-type: disc;
  list-style-position: inside;
  padding: 5px 0 5px 1.4em;
  text-indent: -1.4em;
}

/* Tablefooter */

tfoot th  {
  /* padding: 2em 1em; */
  /* border-top: 1px solid #ccc; */
}
tfoot td  {
  text-align: center;
  padding: 20px;
  /* border-top: 1px solid #ccc; */
}

table button {
  background-color: #101C4D;
  border: 2px solid #101C4D;;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}
table button:hover {
  background-color: #fff;
  color: #101C4D;
}
