html {
  height: 100%;
  width: 100%;
}

body {
  margin:0;
  padding: 0;
  background-color: #fff;
  font-family: "PT Sans", "Helvetica Neue","Segoe UI","Roboto",sans-serif;
}

.title {
  height: 7vh;
  font-weight: 400;
  line-height: 1.6;
}

.search_results {
  height: 92.5vh; /* Specify a height */
  width: 1050px; /* 0 width - change this with JavaScript */
  /* position: fixed;  */
  z-index: 1001; /* Stay on top */
  top: 7.5vh;
  left: 0;
  display: flex;
  margin: auto;
}

.results_filter {
  width: 250px !important;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  -ms-overflow-style: none;  /* hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* hide scrollbar Firefox */
}
.results_filter::-webkit-scrollbar {
  display: none; /* hide scrollbar for Chrome, Safari and Opera */
}

.search_box {
  background-color: #FEBB02;
  border-radius: 3px;
}

.search_box_handle {
  padding: 10px 15px 5px 15px;
  font-size: 20px;
  font-weight: bold;
}

.search_box_form {
  padding: 5px 15px 15px 15px;
}

#input_ori {
  padding: 11px 8px;
  border: 0;
  border-radius: 3px;
  width: 200px;
  font-size: 14px;
}

.showmap_box {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #aaa;
  margin: 10px 0 0 0;
  background-image: url("./resources/showmapbackground.png");
}
.showmap_box:hover {
  border: 1px solid #444;
  background-image: None;
}
.hidemap_box {
  background-color: #444;
  border-radius: 3px;
  margin: 10px 0 0 0;
  border: 1px solid #444;
  background-image: None;
  color: #fff;
}
.hidemap_box:hover {
  background-color: #fff;
  color: #444;
}

.showmap_box_handle {
  padding: 10px 15px 10px 15px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.shortlist_box {
  border-radius: 3px;
  margin: 10px 0 0 0;
  padding: 10px 15px 10px 15px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  color: #0075FF;
  background-color: #fff;
  border: 1px solid #0075FF;
}
.shortlist_box:hover {
  color: #fff;
  background-color: #0075FF;
  border: 1px solid #0075FF;
}
.close_shortlist {
  background-color: #0075FF;
  border-radius: 3px;
  margin: 10px 0 0 0;
  padding: 10px 15px 10px 15px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background-color: #0075FF;
}
.close_shortlist:hover {
  color: #0075FF;
  background-color: #fff;
  border: 1px solid #0075FF;
}

.filter_box {
  border-radius: 3px;
  border: 1px solid #ccc;
  margin: 10px 0 0 0;
}

.filter_box_handle {
  border-bottom: 1px solid #ccc;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: bold;
}

.filter_box_hotel, .filter_box_perks {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.filter_box_hotel_handle, .filter_box_perks_handle {
  padding: 0px 15px 5px 15px;
  font-size: 15px;
  font-weight: bold;
}

.filter_box_wrapper {
  padding: 3px 15px;
  font-size: 13px;
  font-weight: normal;
}

----------------------------------------------------------------------------

.option_button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 7px 0;
  line-height: 24px;
  font-size: 20px;
  display: inline;
}

.option_button:hover {
  color: #ccc;
}


.header {
  background-color: #2a2c33;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 1200;
  text-align: center;
  /* height: 7.5vh; */
  /* padding: 20.9px; */
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #2a2c33;
}

.header li a {
  color: #fff;
  display: block;
  padding: 0 20px;
  line-height: 7.5vh;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li h4 {
  color: #fff;
  display: block;
  padding: 0 20px;
  line-height: 7.5vh;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #000;
}

.header .logo {
  display: block;
  float: left;
  font-size: 22px;
  padding: 0 20px;
  text-decoration: none;
  line-height: 7.5vh;
  color: #fff;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    /* padding: 20px 30px; */
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
    padding: 28px 20px;
  }
}

@media (max-width: 500px ) {
  #input_ori, #input_hotel  {
    width: 75vw;
    flex: 1;
  }
}
