/* Layout */
html {
  display: flex;
  flex-direction: column;
}
body {
  display: inline-flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper {
  display: block;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}
#map {
  display: flex;
  flex: 1;
}

@media (max-width: 640px) {
	body {
  min-height: 0;
  }
	.wrapper {
    flex-direction: column;
  }
	#map {
		flex-basis: auto;
  }
}

/* Decoration */
body {
	margin: 0;
	background: #fff;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	font-size: 1.1em;
}
header, footer {
	padding: 10px;
	margin: 0;
	border: 2px solid #fff;
	color: #fff;
}
#stats {
/* 	padding: 10px; */
	margin: 0;
	border: 2px solid #fff;
	color: #fff;
}
#map {
/* 	padding: 10px; */
	margin: 0;
	border: 2px solid #fff;
	color: #fff;
}
#town, #vill {
 width:100px;
}
select {
  text-align: center;
  text-align-last: center;
  font-size: 30px;
}
header {
	background: dodgerblue;
  text-align: center;
}
