/* Layout */
html {
  display: flex;
  flex-direction: column;
}
header {
  padding: 10px;
	margin: 0;
	border: 2px solid #fff;
	color: #fff;
  background: dodgerblue;
  text-align: center;
}
footer {
  padding: 10px;
	margin: 0;
	border: 2px solid #fff;
	color: #fff;
  background: dodgerblue;
  text-align: center;
}
p, a {
  font-size: 12px;
  line-height: 100%;
}
body {
  display: inline-flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
	background: #fff;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	/* font-size: 1.1em; */
}
.wrapper {
  display: block;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}
#stats {
  margin: 0;
	border: 2px solid #fff;
	color: #fff;
}
#map {
  display: flex;
  flex: 1;
  margin: 0;
	border: 2px solid #fff;
	color: #fff;
}
select {
  text-align: center;
  text-align-last: center;
  font-size: 25px;
  width: 200px;
  height: 50px;
}

/* @media screen and (max-width: 640px) {
	body {
  min-height: 0;
  }
	.wrapper {
    flex-direction: column;
  }
	#map {
		flex-basis: auto;
    height: 80vh;
	}
  #stats {
    width: auto;
  }
} */
